.testimonial-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 18px;
    position: relative;


    &.style-1 {
        .content {
            .text {
                color: $white;
            }
        }
        //.content-wrapper {
        //    align-items: center;
        //    text-align: center;
        //}
        .meta-user {
            width: unset;

            .user-info {
                //gap: 30px;
                //
                //.image {
                //    width: 84px;
                //    height: 84px;
                //}
                .info {
                    .name {
                       color: $white;
                    }
                }
            }
        }
    }


    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .quote-icon {
            width: 84px;
            height: 63px;

            @include sm {
                height: 30px;
                width: 60px;
            }
        }
    }
    .content {
        .text {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
            line-height: 32px;
            color: $black;
            font-family: $body-font;
            font-style: italic;

            //@include sm {
            //    font-size: 24px;
            //    line-height: 42px;
            //}
            //@include md {
            //    font-size: 28px;
            //    line-height: 46px;
            //}
            //@include lg {
            //    font-size: 28px;
            //    line-height: 46px;
            //}
            //@include xl {
            //    font-size: 34px;
            //    line-height: 54px;
            //}
        }
    }
    .meta-user {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-info {
            display: flex;
            align-items: center;
            gap: 20px;

            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                box-shadow: 0px 18px 24px 0px rgba(2, 24, 93, 0.12);
                width: 80px;
                height: 80px;
                border-radius: 50px;
                overflow: hidden;
            }
            .info {
                display: flex;
                flex-direction: column;
                text-align: left;
                gap: 4px;

                .name {
                    margin: 0;
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 600;
                    color: $secondary-color;
                }
                .designation {
                    margin: 0;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 400;
                    color: $white;
                    font-family: $body-font;
                }
            }
        }
    }
}
