.testimonial-slider-wrapper {
  position: relative;


  //.slick-list {
  //  padding: 40px 30px;
  //  padding-bottom: 60px;
  //  margin: 0 -12px;
  //
  //  @include md {
  //    padding: 40px 10px;
  //  }
  //  @include sm {
  //    padding: 30px 10px;
  //  }
  //  .slick-slide {
  //    margin: 0 12px;
  //    border-radius: 20px;
  //    @include transition;
  //
  //    &.slick-active {
  //      @include transition;
  //      box-shadow: 0px 10px 44px 0px rgba(4, 43, 77, 0.08);
  //      background-color: $white;
  //
  //      @include rmaxwd(991) {
  //        box-shadow: 1px 8px 44px rgba(20, 20, 43, 0.03);
  //      }
  //    }
  //  }
  //}

  // Slick Dots
  .slick-dots {
    z-index: 3;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 26px;
    position: relative;
    text-align: center;
    line-height: 0;
    gap: 10px;
    display: flex;

    li {
      display: inline-block;
      line-height: 0;
      margin: 0;
      @include transition;

      button {
        font-size: 0;
        padding: 0;
        width: 10px;
        height: 10px;
        background-color: $white;
        border-radius: 50px;
        position: relative;
        @include transition;

      }
      &.slick-active {
        @include transition;

        button {
          @include transition;
          background-color: $primary-color;
        }
      }
    }
  }
  // Slick Nav Arrow Button
  //button.testimonial-arrow-btn {
  //  //position: absolute;
  //  display: none !important;
  //
  //  &.prev-btn {
  //    left: 30px;
  //  }
  //  &.next-btn {
  //    right: 30px;
  //  }
  //}
  //&:before,
  //&:after {
  //  background: #f3f7fc;
  //}
}

// Slick Nav Arrow Button
//button.testimonial-arrow-btn {
//  position: relative;
//  width: 60px;
//  height: 60px;
//  border-radius: 50%;
//  transition: 0.3s;
//  z-index: 99;
//  background-color: transparent;
//  border: 1px solid $gray-300;
//  cursor: pointer;
//  bottom: 0;
//  overflow: hidden;
//
//  &:before {
//    position: absolute;
//    width: 0;
//    height: 100%;
//    left: 0;
//    top: 0;
//    background: linear-gradient(-45deg, rgb(227,0,8) 0%, rgb(250,174,0) 100%);
//    content: "";
//    @include transition;
//    z-index: -1;
//  }
//
//  i {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//    color: $primary-color;
//    font-size: 21px;
//    @include transition;
//  }
//  &:hover {
//    @include transition;
//    border-color: $primary-color;
//
//    &:before {
//      width: 100%;
//      @include transition;
//    }
//    i {
//      color: $white;
//      @include transition;
//    }
//  }
//}
//
//.testimonial-slider-arrow {
//  position: relative;
//  z-index: 99;
//  display: flex;
//  align-items: center;
//  gap: 12px;
//
//  @include rmaxwd(991) {
//    display: none;
//  }
//}
