.portfolio-filter {
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 20px 70px;
  justify-content: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
  margin-top: 40px;

  @include rmaxwd(991) {
    margin-bottom: 50px;
  }

  li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    @include transition;

    &.active {
      color: $primary-color;
      @include transition;
    }
  }
}
.portfolio-style-two {
  background-color: $white;
  overflow: hidden;


  &:hover {
    .image {
      .content-wrapper {
        visibility: visible;
        opacity: 1;
        @include transition;

        .content {
          .content-inner {
            margin-bottom: 0;
            @include transition;
          }
          .btn-wrapper {
            transform: translate(-50%, -50%) scale(1);
            @include transition;
          }
        }
      }
      img {
        transform: scale(1.1);
        @include transition;
      }
    }
  }
  .image {
    overflow: hidden;
    position: relative;

    img {
      transform: scale(1);
      @include transition;
      width: 100%;
    }
  }
  .content-wrapper {
    padding: 42px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(31, 39, 50, 0.85);
    @include transition;

    @include sm {
      padding: 20px;
    }
    @include lg {
      padding: 20px;
    }
    .content {
      display: flex;
      flex-direction: row;
      height: 100%;
      gap: 10px;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;

      .content-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: -100%;
        @include transition;
        text-align: center;
      }
      .sub-title {
        color: $primary-color;
        font-size: 16px;
        line-height: 36px;
        font-weight: 600;
      }
      .title {
        font-size: 20px;
        font-weight: 600;
        line-height: initial;
        margin-bottom: 0;
        color: $white;

        a {
          &:hover {
            color: $primary-color;
          }
        }
      }

      .btn-wrapper {
        position: absolute;
        flex-shrink: 0;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.3);
        //transform: translate(-50%, -50%) scale(0.3);
        @include transition;
  
        a {
          display: inline-flex;
          width: 60px;
          height: 60px;
          color: $white;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          font-size: 46px;
          @include transition;

          i {
            @include transition;
            
          }
          &:hover {
            @include transition;
            background-color: $primary-color;

            i {
              transform: rotate(0deg);
              @include transition;
            }
          }
        }
      }
    }
  }
}

.portfolio-card-wrapper {
  display: flex;
  flex-direction: column;
  //gap: 30px;

  .portfolio-card {
    .image {
      border-radius: 20px;
      top: 34px;
      right: -480px;
      transition: all 0.6s ease-out;
    }

    &.style-2 {
        gap: 50px;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        padding: 26px 0;
        transition: all 0.6s ease-out;
        padding-right: 145px;

        @include sm {
          padding: 40px 0;
          gap: 20px;
        }
        @include md {
          padding-right: 100px;
          padding-left: 100px;
          gap: 30px;
        }

        &:last-child {
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }

        &:hover {
          .short-desc {
            color: $primary-color;
            @include transition;
            @include sm {
              color: $text-color;
            }
            @include md {
              color: $text-color;
            }
          }
          .number-text {
            color: $primary-color;
            @include transition;
          }
          .image {
            transform: rotate(2.983deg);
            @include sm {
              transform: none;
            }
            @include md {
              transform: none;
            }
          }
        }

      .brand-logo {
        width: 225px;
        height: auto;
        flex-shrink: 0;
      }

      .content {
        margin-right: 250px;

        @include sm {
          margin-right: 0;
        }
        @include md {
          margin-right: 0;
        }
        @include lg {
          margin-right: 0;
        }

        .short-desc {
          font-family: $body-font;
          font-size: 16px;
          font-weight: 600;
          line-height: 29px;
          @include transition;
        }
      }

      .number-text {
        font-size: 35px;
        font-weight: 600;
        font-family: $heading-font;
        color: #666;
        @include transition;
      }
    }
  }
}