.post-card {
    &.style-four {
        flex-direction: column;
        border: none;
        padding: 0;
        gap: 25px;
        margin-bottom: 45px;

        @include rmaxwd(991) {
            gap: 22px;
        }
        &:hover {
            .image {
                img {
                    transform: scale(1.06);
                }
            }
        }
        .image {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                @include transition;
            }
        }
        .content {
            .title {
                a {
                    font-size: 24px;
                    line-height: 33px;
                }
                &:hover {
                    color: $primary-color;
                }
            }
            .post-meta {
                span {
                    color: $primary-color;
                    line-height: 30px;
                    font-weight: 600;
                    &:last-child {
                        display: block;
                    }
                    &:first-child {
                        &:before {
                            display: none;
                        }
                    }
                }
                .date {
                    color: $black-300;
                    font-weight: 400;
                }
            }
        }
        @include sm {
            gap: 20px;
        }
    }
}
