.brand-slider-area {
  overflow: hidden;

    &.style-1 {
      padding: 90px 0;

      @include sm {
        padding: 80px 0;
      }
      @include md {
        padding: 100px 0;
      }
      .slick-track {
        padding: 50px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }
    }
}
.brand-slider-area {
    //  margin-bottom: 10px;
      padding: 100px 0;
      @include sm {
        padding: 80px 0;
      }
    &.style-2 {
      padding: 140px 0;
      margin-bottom: 0;

      @include md {
        padding: 100px 0;
      }
      @include sm {
        padding: 80px 0;
      }
    }
    .slick-track {
      padding: 50px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);

      @include md {
        padding: 32px 0;
      }
      @include sm {
        padding: 30px 0;
      }
    }  
}

.client-logo-wrapper {

  .client-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    @include transition;
    img {
      filter: grayscale(100%);
      opacity: 0.45;
      @include transition;
    }
    &:hover {
      transform: scale(1.03);
      img {
        filter: none;
        opacity: 1;
      }
    }
  }
}