.info-card-wrapper {
    position: relative;
}
.info-card {
    background: #1F2732;;
    padding: 30px;
    border-radius: 10px;
    position: relative;

    @include rmaxwd(991) {
        padding: 50px;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        padding: 20px;
    }
    &:hover {
        //.image-wrapper {
        //    .overlay {
        //        @include transition;
        //        opacity: 0.72;
        //    }
        //    img {
        //        transform: scale(1.2);
        //        @include transition;
        //    }
        //}
        .thumbnail-wrapper {
            .thumbnail-inner {
                height: 167px;
                @include transition;

                img {
                    transform: scale(1.1);
                    @include transition;
                }
            }
        }
        .title-wrapper {
            gap: 20px;
            @include transition;

            .icon {
                height: 0;
                @include transition;

                img {
                    transform: rotateY(360deg) scale(0);
                    @include transition;
                }
            }
        }
        .btn-wrapper {
            a {
                margin-top: 23px;
                margin-bottom: 0;
                font-size: 14px;
                @include transition;
            }
        }
    }
    .info-card-inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }
    //.divider {
    //    &:before {
    //        content: "";
    //        position: absolute;
    //        background-color: rgb(94, 111, 146);
    //        opacity: 0.2;
    //        right: 0;
    //        height: 80%;
    //        width: 1px;
    //        top: 45px;
    //    }
    //}

    //.image-wrapper {
    //    position: absolute;
    //    width: 100%;
    //    height: 100%;
    //    opacity: 0;
    //    overflow: hidden;
    //    top: 0;
    //    left: 0;
    //    transition: all 0.6s ease;
    //    img {
    //        width: 100%;
    //        height: 100%;
    //        transform: scale(1);
    //        @include transition;
    //    }
    //    .overlay {
    //        width: 100%;
    //        height: 100%;
    //        background: $primary-color;
    //        @include transition;
    //        position: absolute;
    //        top: 0;
    //        left: 0;
    //        opacity: 0.6;
    //    }
    //}
    .icon {
        display: flex;
        flex-shrink: 0;
        justify-content: start;
        width: 64px;
        height: 65px;
        @include transition;
        img {
            @include transition;
        }
    }
    .content-wrapper {
        position: relative;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
    }
    .thumbnail-wrapper {
        padding-top: 24px;
        border-top: 1px solid rgba(255, 255, 255, 0.15);

        .thumbnail-inner {
            border-radius: 10px;
            overflow: hidden;
            height: 120px;
            position: relative;
            @include transition;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                aspect-ratio: 1/1;
                transform: scale(1);
                @include transition;
            }
        }
    }
    .title-wrapper {
        display: flex;
        gap: 25px;
        padding-bottom: 20px;
        border-bottom: none;
        transition: all 0.6s ease;
        flex-direction: column;
        align-items: start;
        .icon {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-shrink: 0;
            width: 74px;
            height: 74px;
            background: transparent;
            border-radius: 10px;
        }
        .title {
            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
            margin: 0;
            color: $white;
            transition: all 0.6s ease;

        }
    }
    .content {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        .desc {
            transition: all 0.6s ease;
            font-size: 16px;
            line-height: initial;
            font-weight: 400;
            margin: 0;
            color: $white;
            font-family: $body-font;
        }
        //.read-more {
        //    display: flex;
        //    justify-content: start;
        //    a {
        //        display: flex;
        //        align-items: center;
        //        gap: 18px;
        //        font-size: 16px;
        //        line-height: 36px;
        //        font-weight: 600;
        //        text-transform: capitalize;
        //        margin-bottom: 0;
        //        color: $secondary-color;
        //        .icon {
        //            position: relative;
        //            display: flex;
        //            align-items: center;
        //            justify-content: center;
        //            background-color: $primary-color;
        //            flex-shrink: 0;
        //            width: 32px;
        //            height: 32px;
        //            border-radius: 50px;
        //            color: $primary-color;
        //            z-index: 2;
        //            &:before {
        //                position: absolute;
        //                z-index: -1;
        //                content: "";
        //                width: 100%;
        //                height: 100%;
        //                top: 0;
        //                left: 0;
        //                border: 2px solid transparent;
        //                border-radius: 50px;
        //                background-image: linear-gradient(white, white), linear-gradient(65deg, #E30008FF 0%, #FAAE00FF 100%);
        //                background-origin: border-box;
        //                background-clip: content-box, border-box;
        //                transform: scale(1);
        //                @include transition;
        //
        //            }
        //
        //            i {
        //                color: $primary-color;
        //                font-size: 16px;
        //            }
        //        }
        //        &:hover {
        //            margin-left: 5px;
        //            color: $primary-color;
        //            @include transition;
        //
        //            .icon {
        //                &:before {
        //                    transform: scale(0);
        //                    @include transition;
        //                }
        //                i {
        //                    color: $white;
        //                }
        //            }
        //        }
        //    }
        //}
    }

    .btn-wrapper {

        a {
            display: flex;
            align-items: center;
            gap: 3.5px;
            justify-content: center;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 0;
            @include transition;
            i {
                line-height: 0;
            }
            //span {
            //    width: 3.5px;
            //    height: 3.5px;
            //    background-color: $primary-color;
            //    display: inline-block;
            //}
        }
    }
}
