.header-area {
  &.style-3 {
    border-bottom: 1px solid #00000026;

    .mobile-menu-bar a {
      i {
        color: $black;
      }
    }
    .header-menu-area {
      .search-btn-with-btn {
        margin-left: auto;

        @include rmaxwd(1199) {
          display: none;
        }
        .search-btn-wrapper {
          .search-btn {
            .search-bar {
              &:before,
              &:after {
                background-color: $black;
              }
            }
          }
        }
      }
    }
    .logo {
      width: 292px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 120px;
      margin-left: -292px;

      @include lg {
        width: 230px;
      }
      @include rmaxwd(1549) {
        margin-left: 0;
      }
      @media only screen and (min-width: 1550px) and (max-width: 1850px) {
        margin-left: -150px;
      }
      @include md {
        height: 100px;
        width: 200px;
      }
      @include sm {
        height: 80px;
        width: 200px;
      }
    }

    .header-area-wrapper {
      display: flex;
      align-items: center;
    }
    .header-wrapper {
      width: 100%;
      border-left: 1px solid #00000026;
      border-right: 1px solid #00000026;

      @include rmaxwd(991) {
        border: 0;
      }
      // Header Top
      .header-top {
        background-color: transparent;
        border-bottom: 1px solid #00000026;

        .header-contact-info {
          padding: 8px 0;
          gap: 0;

          span {
            &:last-child {
              .contact-info-item {
                .icon {
                  background-color: $black;
                }
              }
            }
          }
          .contact-info-item {
            .icon {
              width: 40px;
              height: 38px;
              flex-shrink: 0;
              color: $white;
              background-color: $primary-color;
              border-radius: 2px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
            }
          }
          span,
          a {
            color: $text-color;
          }
        }
      }
      .social-profile {
        gap: 28px;

        a {
          color: #666666;
        }
      }
      // Header Menu
      .main-menu-wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        .header-btn {
          margin-left: auto;

          .search-btn {
            color: #000000;
          }
          .theme-btn {
            padding: 9px 37px;
            font-size: 16px;
          }
        }
        .menu {
          //margin-left: auto;
        }
        .main-menu {
          ul {
            li {
              a {
                color: #393d48;
                padding: 25px 16px;
              }
              &.active {
                position: relative;
                > a {
                  &:after {
                    top: unset;
                    bottom: 0;
                    background-color: $primary-color;
                  }
                }
              }
            }
            ul {
              li {
                a {
                  padding: 10px 20px;
                }
              }
            }
          }
        }
      }
    }
    .header-cta-btn {
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        display: none;
      }
    }
  }
}
