// Contact Form Area
.contact-form-area {
  padding-top: 140px;

  @include sm {
    padding-top: 80px;
  }
  @include md {
    padding-top: 100px ;
  }
  &.style-1 {
    padding-top: 40px;
    padding-bottom: 140px;

    @include sm {
      padding: 80px 0;
    }
    @include md {
      padding: 100px 0;
    }
    .map-location {
      height: 510px;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.contact-info-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.comment-respond {
  &.style-3 {
    margin: 0;
  }
  padding: 0;
  border: 0;
  margin: 0;

  .post-comments-title {
    margin-bottom: 86px;

    @include lg{
      margin-bottom: 40px;
    }
    @include md {
      margin-bottom: 40px;
    }
    @include sm {
      margin-bottom: 40px;
    }

    h2 {
      font-size: 60px;
      font-weight: 600;
      line-height: initial;
      margin-bottom: 20px;

      @include sm {
        font-size: 28px;
      }
      @include md {
        font-size: 32px;
      }
      @include lg {
        font-size: 44px;
      }
    }
  }
  .comment-form {
    padding-top: 10px;

    textarea {
      margin-bottom: 0;
    }
    .contacts-message {
      margin-bottom: 30px;
    }
    .theme-btn {
      padding: 23px 71px 21px 69px;

      @include sm {
        padding: 18px 45px;
      }
    }

  }
 
}
.contact-image {
  position: relative;
  left: 108px;
  @include sm {
    left: initial;
  }
  @include md {
    left: initial;
  }
  @include lg {
    left: 20px;
  }
  @include xl {
    left: 20px;
  }
}
// Contact Form Map
.contact-map-area {
  padding-bottom: 120px;

  @include sm {
    padding-bottom: 80px;
  }
  @include md {
    padding-bottom: 100px;
  }
  .map-widget {
    margin-bottom: -10px;

    iframe {
      width: 100%;
      height: 470px;
      border-radius: 12px;

      @include sm {
        height: 350px;
      }
    }
  }
}
