
// Testimonial Slider Area
.testimonial-slider-area {
  &.style-2 {
    padding-top: 120px;
    padding-bottom: 140px;

    @include md {
      padding-bottom: 100px;
    }
    
    .section-title {
        margin-bottom: 59px;
    }
  }

  &.style-3 {
    padding-top: 120px;

    @include sm {
      padding-top: 80px;
    }
    @include md {
      padding-top: 100px;
    }
    .section-title {
      margin-bottom: 0;


    }
    .testimonial-slider-wrapper {
      .slick-list {
        margin: 0 -12px;
        padding-top: 70px;
        padding-bottom: 120px;

        @include sm {
          margin: 0;
          padding-bottom: 80px;
        }
        @include md {
          padding-bottom: 100px;
        }
        .testimonial-card {
          &.style-2 {
            box-shadow: none;
          }
        }
      }
      .slick-arrow {
        display: none !important;
      }
      .slick-slide {
        margin: 0 12px;
      }
    }
  }
}
// Faq Area
.faq-area {
  &.style-4 {
    padding: 120px 0;

    @include sm {
      padding: 80px 0;
    }
    @include md {
      padding: 100px 0;
    }
  }
}

// Latest Post Area
.latest-posts-area {
  &.style-3 {
    padding-top: 120px;
    padding-bottom: 110px;

    @include sm {
      padding-top: 80px;
      padding-bottom: 30px;
    }
    @include md {
      padding-top: 100px;
      padding-bottom: 40px;
    }

    .post-card {
      &.style-2 {
        @include sm {
          margin-bottom: 50px;
        }
        @include md {
          margin-bottom: 50px;
        }
      }
    }
  }
}