// Latest Post Area
.latest-posts-area {
  &.style-1 {
    padding: 120px 0;

    @include sm {
      padding: 80px 0;
    }
    @include md {
      padding: 100px 0;
    }

    .section-title {
      margin-bottom: 190px;
    }
    .post-card {
      border-color: #3F3F3F;

      .content {
        .title {
          color: $white;
        }
      }
      .post-meta {
        .single-post-meta {
          color: $white;
          a {
            color: $white;

            &:hover {
              color: $primary-color;
            }
          }

          .icon {
            color: $white;
            border-color: #3F3F3F;
          }
        }
      }
    }
  }
}


// Testimonial Slider
.testimonial-slider-area {
  &.style-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
    overflow: hidden;
    z-index: 2;

    @include sm {
      padding: 80px 0;
    }
    @include md {
      padding: 100px 0;
    }
    .overlay {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      top: 0;
      left: 0;
      visibility: hidden;

      @include rmaxwd(991) {
        visibility: visible;
      }
    }
    .testimonial-slider {
      position: relative;

      .quote-icon {
        position: absolute;
        right: 0;
        top: -19px;
        opacity: 0.2;
        transform: translateX(353px);

        @include rmaxwd(1850) {
          transform: translateX(0);
        }
      }
    }
    .section-title {
      margin-bottom: 40px;
    }
    .testimonial-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 32%;
      z-index: -1;

      @include rmaxwd(991) {
        width: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
      }
    }
  }
}

// Request Form Area
.request-form-area {
  margin-top: -90px;
  overflow: hidden;

  @include rmaxwd(767) {
    margin-top: -10px;
  }
}

// About Us Area
.about-us-area {
  &.style-1 {
    padding-top: 140px;
    padding-bottom: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 170%;

    @include sm {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @include md {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .about-info-card{
      &.style-1{
        @include sm{
          margin-top: 40px;
        }
        @include md{
          margin-top: 60px;
        }
      }
    }
  }
}

// Call To Action
.cta-area {
  padding-top: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 2;

  @include sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include md {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $black-100;
    opacity: 0.90;
  }

  .counter-area {
    text-align: right;

    @include rmaxwd(1399) {
      margin-top: 50px;
    }
    .counter-card {
      margin-right: -240px;

      @include rmaxwd(1850) {
        margin-right: 0;
      }
      @include md {
        padding: 44px;
        float: left;
      }
      @include sm{
        float: left;
        width: 100%;
      }

      .number {
        @include md {
          padding: 20px 5px;
          width: 140px;
          font-size: 38px;
        }
      }
      .title {
        @include md {
          font-size: 28px;
        }
      }
    }
  }
}

// Feature Area
.feature-area {
  &.style-1 {
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;

    @include sm {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @include md {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .feature-image-bg-one {
      position: absolute;
      top: -150px;
      left: 0;
      opacity: 0.05;
    }
    .feature-image-bg-two {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.04;
    }
  }
}
// Price Area
.price-area {
  position: relative;
  overflow: hidden;


  &.style-1 {
    background-color: $pricing-bg;
    padding: 140px 0;

    @include sm {
      padding: 80px 0;
    }
    @include md {
      padding: 100px 0;
    }

    .pricing-bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }
}

// Portfolio Area
.portfolio-area {
  &.style-1 {
    padding: 140px 0;

    @include sm {
      padding: 80px 0;
    }
    @include md {
      padding: 100px 0;
    }
    @include lg {
      padding: 120px 0;
    }

    .title {
      color: $white;
    }
    .portfolio-card .content .short-title  {
      color: $white;
    }
    .section-title {
      @include rmaxwd(991) {
        margin-bottom: 60px;
      }
    }
    .portfolio-card {
      padding-bottom: 59px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      &:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.15) ;
      }
    }
  }
}

// Contact Area
.contact-area {
  padding-bottom: 140px;
  position: relative;

  @include sm {
    padding-bottom: 80px;
  }
  @include md {
    padding-bottom: 100px;
  }
  .contact-image-bg {
    position: absolute;
    top: -75px;
    left: 0;
    opacity: 0.10;
  }

  .map-location {
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .section-title {
    margin-bottom: 30px;
    .sec-desc{
      br{
        @include md{
          display: none;
        }
      }
    }
  }
  .comment-respond {
    &.style-2 {
      .contacts-email,
      .contacts-name,
      .single-input-field,
      .contacts-message {
        margin-bottom: 20px;

        label {
          background-color: $black-50;
          color: $white;
        }
      }
    }
  }
}


