.call-to-action-card {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


  .short-title {
    font-size: 30px;
    font-weight: 600;
    color: $white;
  }
  .title {
    font-size: 96px;
    font-weight: 600;
    line-height: 116px;
    color: $white;
    margin-bottom: 0;


    @include sm {
      font-size: 40px;
      line-height: 50px;
      margin-top: 10px;
    }
    @include md {
      font-size: 48px;
      line-height: 62px;
      margin-top: 30px;

      br {
        display: none;
      }
    }
    @include lg {
      font-size: 76px;
      line-height: 100px;
    }
    @include xl {
      font-size: 86px;
      line-height: 112px;
    }
  }
  .btn-wrapper {
    margin-top: 40px;

    @include sm {
      margin-top: 20px;
    }
    .style-btn {
      width: 192px;
      height: 192px;
      font-size: 24px;
      gap: 10px;

      @include sm {
        font-size: 20px;
      }
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='192px' height='192px'%3E%3Cpath fill-rule='evenodd' stroke-width='1px' stroke='rgb(255, 255, 255)' fill-opacity='0' opacity='0.6' fill='rgb(101, 97, 222)' d='M183.123,89.1 C180.883,90.528 179.598,92.958 179.598,95.670 C179.598,98.381 180.883,100.812 183.123,102.338 C186.937,104.939 188.749,109.367 187.851,113.895 C186.953,118.424 183.588,121.825 179.69,122.772 C176.396,123.333 174.281,125.86 173.245,127.586 C172.209,130.87 172.463,132.822 173.943,135.89 L173.965,135.122 C176.488,138.986 176.462,143.769 173.896,147.606 C171.329,151.442 166.918,153.292 162.383,152.434 C159.705,151.927 157.79,152.737 155.162,154.654 C153.245,156.572 152.435,159.198 152.938,161.861 C153.799,166.410 151.949,170.822 148.114,173.388 C144.277,175.954 139.494,175.981 135.629,173.458 L135.591,173.433 C133.330,171.956 130.595,171.702 128.94,172.737 C125.593,173.774 123.840,175.888 123.285,178.537 C122.333,183.81 118.931,186.446 114.403,187.344 C113.636,187.496 112.871,187.570 112.117,187.570 C108.426,187.570 105.6,185.783 102.846,182.615 C101.319,180.375 98.888,179.91 96.177,179.91 C93.466,179.91 91.36,180.375 89.509,182.615 C86.908,186.430 82.480,188.243 77.952,187.344 C73.423,186.446 70.22,183.81 69.75,178.563 C68.515,175.889 66.762,173.774 64.261,172.737 C61.760,171.702 59.25,171.956 56.758,173.435 L56.724,173.459 C52.862,175.981 48.78,175.954 44.242,173.388 C40.406,170.822 38.555,166.410 39.413,161.875 C39.920,159.198 39.110,156.572 37.193,154.654 C35.276,152.738 32.650,151.928 29.986,152.431 C25.438,153.292 21.26,151.442 18.459,147.606 C15.893,143.770 15.866,138.986 18.390,135.122 L18.409,135.92 C19.892,132.822 20.146,130.87 19.110,127.586 C18.73,125.86 15.959,123.333 13.310,122.778 C8.767,121.826 5.402,118.424 4.503,113.895 C3.605,109.367 5.417,104.939 9.232,102.340 C11.472,100.812 12.757,98.381 12.757,95.670 C12.757,92.958 11.472,90.528 9.232,89.1 C5.417,86.401 3.605,81.972 4.504,77.445 C5.402,72.916 8.767,69.514 13.286,68.568 C15.959,68.8 18.73,66.256 19.110,63.754 C20.146,61.253 19.891,58.518 18.411,56.251 L18.392,56.222 C15.866,52.355 15.893,47.570 18.459,43.735 C21.26,39.898 25.438,38.49 29.972,38.906 C32.650,39.413 35.276,38.603 37.193,36.685 C39.109,34.769 39.920,32.143 39.416,29.479 C38.555,24.929 40.406,20.518 44.241,17.952 C48.78,15.385 52.862,15.359 56.726,17.883 L56.758,17.904 C59.25,19.384 61.759,19.638 64.260,18.603 C66.762,17.566 68.515,15.452 69.70,12.802 C70.22,8.259 73.423,4.895 77.952,3.997 C82.480,3.97 86.908,4.910 89.509,8.724 C91.36,10.964 93.466,12.249 96.177,12.249 C98.888,12.249 101.319,10.964 102.846,8.724 C105.446,4.910 109.874,3.97 114.403,3.997 C118.931,4.895 122.333,8.260 123.280,12.779 C123.839,15.452 125.593,17.566 128.94,18.603 C130.594,19.640 133.329,19.384 135.596,17.904 L135.626,17.884 C139.493,15.359 144.277,15.385 148.113,17.952 C151.949,20.518 153.799,24.929 152.941,29.464 C152.434,32.143 153.245,34.769 155.161,36.685 C157.79,38.603 159.706,39.413 162.368,38.908 C166.919,38.48 171.329,39.898 173.895,43.734 C176.462,47.570 176.488,52.353 173.964,56.219 L173.943,56.250 C172.463,58.518 172.209,61.253 173.245,63.754 C174.281,66.254 176.395,68.7 179.45,68.562 C183.588,69.514 186.953,72.916 187.851,77.445 C188.749,81.972 186.938,86.401 183.123,89.1 Z'/%3E%3C/svg%3E");
      }
      &:hover {
        color: $primary-color;

       &:before {
         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='192px' height='192px'%3E%3Cpath fill-rule='evenodd' stroke-width='1px' stroke='rgb(255, 255, 255)' fill-opacity='1' opacity='1' fill='rgb(255, 255, 255)' d='M183.123,89.1 C180.883,90.528 179.598,92.958 179.598,95.670 C179.598,98.381 180.883,100.812 183.123,102.338 C186.937,104.939 188.749,109.367 187.851,113.895 C186.953,118.424 183.588,121.825 179.69,122.772 C176.396,123.333 174.281,125.86 173.245,127.586 C172.209,130.87 172.463,132.822 173.943,135.89 L173.965,135.122 C176.488,138.986 176.462,143.769 173.896,147.606 C171.329,151.442 166.918,153.292 162.383,152.434 C159.705,151.927 157.79,152.737 155.162,154.654 C153.245,156.572 152.435,159.198 152.938,161.861 C153.799,166.410 151.949,170.822 148.114,173.388 C144.277,175.954 139.494,175.981 135.629,173.458 L135.591,173.433 C133.330,171.956 130.595,171.702 128.94,172.737 C125.593,173.774 123.840,175.888 123.285,178.537 C122.333,183.81 118.931,186.446 114.403,187.344 C113.636,187.496 112.871,187.570 112.117,187.570 C108.426,187.570 105.6,185.783 102.846,182.615 C101.319,180.375 98.888,179.91 96.177,179.91 C93.466,179.91 91.36,180.375 89.509,182.615 C86.908,186.430 82.480,188.243 77.952,187.344 C73.423,186.446 70.22,183.81 69.75,178.563 C68.515,175.889 66.762,173.774 64.261,172.737 C61.760,171.702 59.25,171.956 56.758,173.435 L56.724,173.459 C52.862,175.981 48.78,175.954 44.242,173.388 C40.406,170.822 38.555,166.410 39.413,161.875 C39.920,159.198 39.110,156.572 37.193,154.654 C35.276,152.738 32.650,151.928 29.986,152.431 C25.438,153.292 21.26,151.442 18.459,147.606 C15.893,143.770 15.866,138.986 18.390,135.122 L18.409,135.92 C19.892,132.822 20.146,130.87 19.110,127.586 C18.73,125.86 15.959,123.333 13.310,122.778 C8.767,121.826 5.402,118.424 4.503,113.895 C3.605,109.367 5.417,104.939 9.232,102.340 C11.472,100.812 12.757,98.381 12.757,95.670 C12.757,92.958 11.472,90.528 9.232,89.1 C5.417,86.401 3.605,81.972 4.504,77.445 C5.402,72.916 8.767,69.514 13.286,68.568 C15.959,68.8 18.73,66.256 19.110,63.754 C20.146,61.253 19.891,58.518 18.411,56.251 L18.392,56.222 C15.866,52.355 15.893,47.570 18.459,43.735 C21.26,39.898 25.438,38.49 29.972,38.906 C32.650,39.413 35.276,38.603 37.193,36.685 C39.109,34.769 39.920,32.143 39.416,29.479 C38.555,24.929 40.406,20.518 44.241,17.952 C48.78,15.385 52.862,15.359 56.726,17.883 L56.758,17.904 C59.25,19.384 61.759,19.638 64.260,18.603 C66.762,17.566 68.515,15.452 69.70,12.802 C70.22,8.259 73.423,4.895 77.952,3.997 C82.480,3.97 86.908,4.910 89.509,8.724 C91.36,10.964 93.466,12.249 96.177,12.249 C98.888,12.249 101.319,10.964 102.846,8.724 C105.446,4.910 109.874,3.97 114.403,3.997 C118.931,4.895 122.333,8.260 123.280,12.779 C123.839,15.452 125.593,17.566 128.94,18.603 C130.594,19.640 133.329,19.384 135.596,17.904 L135.626,17.884 C139.493,15.359 144.277,15.385 148.113,17.952 C151.949,20.518 153.799,24.929 152.941,29.464 C152.434,32.143 153.245,34.769 155.161,36.685 C157.79,38.603 159.706,39.413 162.368,38.908 C166.919,38.48 171.329,39.898 173.895,43.734 C176.462,47.570 176.488,52.353 173.964,56.219 L173.943,56.250 C172.463,58.518 172.209,61.253 173.245,63.754 C174.281,66.254 176.395,68.7 179.45,68.562 C183.588,69.514 186.953,72.916 187.851,77.445 C188.749,81.972 186.938,86.401 183.123,89.1 Z'/%3E%3C/svg%3E");
       }
      }
    }
  }
}