.price-card {
    padding: 68px 51px 82px 51px;
    z-index: 2;
    position: relative;
    border-radius: 10px;
    border: 1px solid $pricing-border-color;
    top: 0;
    @include transition;

    @include lg{
        padding: 40px 30px;
    }
    @include md{
        padding: 40px 30px;
    }
    @include sm {
        padding: 50px 40px;
    }

        &:hover {
        top: -14px;
        @include transition;
        background-color: #1C2126;
        border-color: #3C3E43;
        }
        .price-bg-frame {
            position: absolute;
            top: 14px;
            right: 15px;
            flex-shrink: 0;
            z-index: 1;
        }

        .trend-badge {
            position: absolute;
            top: -1px;
            right: 30px;
            z-index: 2;

            .trend-down {
                width: 0;
                height: 0;
                border-left: 15px solid $primary-color;
                border-right: 15px solid $primary-color;
                border-bottom: 15px solid transparent;
                border-top: 35px solid $primary-color;
            }
        }
    
  

    // @include xs {
    //     padding: 40px 30px;
    // }
    // @include lg {
    //     padding: 40px 30px;
    // }
    // @include xl {
    //     padding: 55px 40px;
    // }
    // @include rmaxwd(991) {
    //     margin-bottom: 24px;
    //     padding: 40px;
    // }
    //&.active {
    //    .price-btn {
    //        background-color: $primary-color;
    //        color: $white;
    //        border-color: $primary-color;
    //    }
    //}
    .price-btn {
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        color: $white;
        margin-top: 70px;
        text-align: center;

        @include sm {
            margin-top: 40px;
            font-size: 16px;
        }
        i {
            margin-left: 20px;
        }

        &:hover {
            color: $primary-color;

        }
    }

    .card-title {
        // display: flex;
        // margin-bottom: 30px;
        // flex-direction: column;
        // gap: 30px;
        // border-bottom: 1px solid rgb(199, 199, 225);
        // padding-bottom: 35px;

        // .sub-title {
        //     font-family: $roboto-font;
        //     font-weight: 400;
        //     font-size: 18px;
        //     line-height: 36px;
        //     margin: 0;
        //     color: $text-color;
        // }
        .title {
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            color: $white;
            font-family: $heading-font;
            margin-bottom: 23px;
            display: flex;
            align-items: center;
            gap: 12px;
            text-transform: uppercase;
            letter-spacing: 6px;

            // span {
            //     font-size: 12px;
            //     color: $white;
            //     background-color: $primary-color;
            //     font-family: $roboto-font;
            //     border-radius: 3px;
            //     padding: 0 7px;
            //     display: inline-block;
            //     line-height: 18px;
            // }
        }
    }
    .price {
        display: flex;
        gap: 8px;
        position: relative;
        z-index: 2;

        //&:before {
        //    position: absolute;
        //    width: 200%;
        //    height: 0%;
        //    left: 50%;
        //    top: 50%;
        //    background: linear-gradient(135deg, rgb(30,174,152) 0%, rgb(0,91,172) 100%);
        //    transform: translate(-50%, -50%) rotate(-45deg);
        //    content: "";
        //    z-index: -1;
        //    @include transition;
        //}

        .price-heading {
            font-family: $heading-font;
            font-weight: 600;
            font-size: 60px;
            line-height: initial;
            color: $primary-color;
            display: flex;
            align-items: center;
            gap: 2px;
            margin-bottom: 0;

            @include sm {
                font-size: 48px;
            }
            .currency {
                font-family: $heading-font;
                font-weight: 300;
                font-size: 30px;
                line-height: initial;
                color: $primary-color;
                text-align: start;
                align-self: flex-end;
                position: relative;
                top:-12px;
            }
        }
        .price-desc {
            font-family: $body-font;
            font-weight: 400;
            font-size: 14px;
            line-height: initial;
            text-transform: capitalize;
            color: $white;
            margin-bottom: 0;
        }
    }
    .list-wrapper {
        display: flex;
    }
    .list {
        margin-top: 0;
        padding-top: 20px;
        ul {
            padding-left: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
            width: 100%;
            li {
                list-style: none;
                font-family: $body-font;
                font-weight: 400;
                font-size: 18px;
                color: $white;
                margin: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 12px;

                @include lg {
                    font-size: 17px;
                }
                .fa-check {
                    color: $primary-color;
                }
                .fa-x {
                    color: #bbc7cf;
                }

                img {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
    .theme-btn {
        padding: 5px 6px 5px 26px;
        gap: 30px;
        font-size: 16px;
    }
}
