.counter-card {
  display: inline-flex;
  align-items: center;
  gap: 25px;
  background-color: $primary-color;
  padding: 50px 47px;
  text-align: left;
  position: relative;

  @include sm {
    padding: 30px 20px;
  }
  @include xs {
    flex-direction: column;
    padding: 40px;
    text-align: center;
  }
  .counter-shape {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.2;
  }
  .number {
    font-family: $heading-font;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: initial;
    text-align: center;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: $black-100;
    border-radius: 5px;
    width: 173px;
    padding: 25px 5px;
    flex-shrink: 0;

    @include sm {
      font-size: 48px;
    }
    @include md {
      font-size: 48px;
    }
  }

  .title {
    margin: 0;
    font-family: $heading-font;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: initial;
    color: $black-100;

    @include sm {
      font-size: 28px;
    }
    br {
      @include sm {
        display: none;
      }
    }
  }
}